:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
}

* {
    font-family: 'Inter', sans-serif; 
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px; 
}

main {
    height: 80vh;
}

header {
    background-color: #24252a;
    box-shadow: 0px 3px 10px #464646;
    width: 100%;
    gap: 10px;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #313131;
}
#read_button {
    border: none;
    padding: 10px;
    border-radius: 2px;
    margin-top: 15px;
    background-color: #F5F400;
    color: #313131;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}

#read_button:hover {
    background-color: transparent;
    color: #F5F400;
    transition: all 0.2s ease-in-out;
}

.section__img{

}
.section__text{
    background-color: #464646;
    color: #000000;
    border: 3px solid #6D6D6D;
    padding: 10px;
    margin: 10px;
    width: 500px;
    height: 20%;
    gap: 10%;
    text-shadow: px px px black;
    box-shadow: 3px 3px 2px 0px rgba(230, 239, 75, 1);

}
.ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
